<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div id="swagger-ui"></div>
<script src="/webjars/swagger-ui/index.js"></script>
<script>
        const ui = SwaggerUIBundle({
            url: "/v2/api-docs",
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout"
        });
    </script>

</body>
</html>